/*
 * Copyright (c) 2020 The ZMK Contributors
 * Copyright (c) 2022 Innaworks Development Limited, trading as MoErgo
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define DEFAULT 0
#define LOWER 1
#define MAGIC 2

// Shift macro to fix RDP issue of shifted keycodes being registered as their un-shifted couterparts
#define MACRO_SHIFTED(NAME, KEY) \
    mcr_##NAME: mcr_##NAME { \
        label = #NAME; \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        bindings = < \
            &macro_press &kp LSHFT \
            &macro_delay_ms 15 \
            &macro_press &kp KEY \
            &macro_delay_ms 15 \
            &macro_release &kp KEY \
            &macro_delay_ms 15 \
            &macro_release &kp LSHFT \
        >; \
    };

/ {
    /**************************************************************************
     * Glove80 system behavior & macros                                       *
     **************************************************************************/
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        // Custom Defined Behaviors & Macros
        my_ht: my_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MY_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        my_shft_ht: my_shift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MY_SHIFT_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
        my_lt: my_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <50>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };
        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };

        // My custom macros
        MACRO_SHIFTED(exclamation, N1)
        MACRO_SHIFTED(at_sign, N2)
        MACRO_SHIFTED(hash, N3)
        MACRO_SHIFTED(dollar, N4)
        MACRO_SHIFTED(percent, N5)
        MACRO_SHIFTED(caret, N6)
        MACRO_SHIFTED(ampersand, N7)
        MACRO_SHIFTED(asterisk, N8)
        MACRO_SHIFTED(paren_left, N9)
        MACRO_SHIFTED(paren_right, N0)
        
        MACRO_SHIFTED(underscore, MINUS)
        MACRO_SHIFTED(plus, EQUAL)
        MACRO_SHIFTED(brace_left, LBKT)
        MACRO_SHIFTED(brace_right, RBKT)
        MACRO_SHIFTED(pipe, BSLASH)
        MACRO_SHIFTED(colon, SEMI)
        MACRO_SHIFTED(quote, APOST)
        MACRO_SHIFTED(less_than, COMMA)
        MACRO_SHIFTED(greater_than, DOT)
        MACRO_SHIFTED(question, SLASH)
        MACRO_SHIFTED(tilde, GRAVE)

        ps_m: powershell_macro {
            label = "POWERSHELL_MACRO";
            compatible = "zmk,behavior-macro";
            wait-ms = <10>;
            tap-ms = <10>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp P>
                , <&macro_tap &kp O>
                , <&macro_tap &kp W>
                , <&macro_tap &kp E>
                , <&macro_tap &kp R>
                , <&macro_tap &kp S>
                , <&macro_tap &kp H>
                , <&macro_tap &kp E>
                , <&macro_tap &kp L>
                , <&macro_tap &kp L>
                ;
        };
        rgb_mo_1: rgb_mo_1 {
            label = "RGB_MO_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &mo 1>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(128,100,100)>
                , <&macro_pause_for_release>
                , <&macro_release &mo 1>
                // , <&macro_tap &rgb_ug RGB_COLOR_HSB(300,100,50)>;
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(0,0,0)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_Base {
            bindings = <
 &none               &none          &none           &none                &none                                                                                                        &none           &none          &none          &none       &none
 &none               &kp F1         &kp F2          &kp F3               &kp F4 &none                                                                          &none                  &none     &key_repeat          &none          &none       &none
 &kp GRAVE           &kp Q          &kp W           &kp F                &kp P  &kp V                                                                          &kp J                  &kp L           &kp U          &kp Y        &kp SQT   &kp MINUS
 &caps_word  &my_ht LGUI A  &my_ht LALT R  &my_ht LCTRL S  &my_shft_ht LSHFT T  &kp G                                                                          &kp H    &my_shft_ht RSHFT N  &my_ht RCTRL E  &my_ht RALT I  &my_ht RGUI O    &kp SEMI
 &kp BSLH            &kp Z          &kp X           &kp C                &kp D  &kp B  &my_lt 3 BSPC   &my_lt 4 RET  &kp ESC        &kp ESC  &my_lt 5 TAB  &my_lt 1 SPACE  &kp K                  &kp M       &kp COMMA        &kp DOT       &kp FSLH   &kp EQUAL
 &magic MAGIC 0          &kp M          &kp L           &kp E                &kp N         &my_lt 1 SPACE  &my_lt 5 TAB  &kp ESC        &kp ESC  &my_lt 4 RET  &my_lt 3 BSPC                          &kp T           &kp S          &kp R          &kp A  &magic 2 0
            >;
        };

        layer_Nav {
            bindings = <
 &trans  &trans    &trans    &trans     &trans                                                                                 &trans           &trans     &trans     &trans  &trans
 &trans  &trans    &trans    &trans     &trans     &trans                                                            &trans    &trans           &trans     &trans     &trans  &trans
 &trans  &trans    &trans    &trans     &trans     &trans                                                         &kp PSCRN  &kp SLCK  &kp PAUSE_BREAK    &kp INS    &kp DEL  &trans
 &trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans                                                          &kp CAPS  &kp LEFT         &kp DOWN     &kp UP  &kp RIGHT  &trans
 &trans  &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans    &trans  &trans  &trans        &trans   &trans   &trans  &trans  &kp HOME        &kp PG_UP  &kp PG_DN    &kp END  &trans
 &trans  &trans    &trans    &trans     &trans               &trans  &trans  &trans        &trans  &kp ESC  &kp DEL            &trans           &trans     &trans     &trans  &trans
            >;
        };

        layer_Magic {
            bindings = <
  &bt BT_CLR            &none            &none            &none            &none                                                                                  &none   &none   &none   &none  &bt BT_CLR_ALL
       &none            &none            &none            &none            &none            &none                                                         &none   &none   &none   &none   &none           &none
       &none  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                         &none   &none   &none   &none   &none           &none
 &bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                         &none   &none   &none   &none   &none     &bootloader
      &sys_reset            &none            &none            &none            &none  &rgb_ug RGB_EFR   &bt_2   &bt_3         &none   &none   &none   &none   &none   &none   &none   &none   &none          &sys_reset
       &none            &none            &none            &none            &none                    &bt_0   &bt_1  &out OUT_USB   &none   &none   &none           &none   &none   &none   &none           &none
            >;
        };

        layer_Num {
            bindings = <
 &trans  &trans          &trans          &trans           &trans                                                                                                  &trans           &trans          &trans          &trans  &trans
 &trans  &kp F1          &kp F2          &kp F3           &kp F4           &kp F5                                                                &kp F6           &kp F7           &kp F8          &kp F9         &kp F10  &trans
 &trans  &kp F1          &kp F2          &kp F3           &kp F4           &kp F5                                                                &kp F6           &kp F7           &kp F8          &kp F9         &kp F10  &trans
 &trans  &my_ht LGUI N1  &my_ht LALT N2  &my_ht LCTRL N3  &my_ht LSHFT N4  &kp N5                                                                &kp N6  &my_ht RSHFT N7  &my_ht RCTRL N8  &my_ht RALT N9  &my_ht RGUI N0  &trans
 &trans  &kp LBKT        &kp RBKT        &kp GRAVE        &kp SEMI         &kp BSLH  &kp UNDER  &kp PLUS   &trans        &trans  &trans  &trans   &none           &none            &trans          &trans          &trans  &trans
 &trans  &trans          &trans          &trans           &trans                     &kp MINUS  &kp EQUAL  &trans        &trans  &trans  &trans                   &trans           &trans          &trans          &trans  &trans
            >;
        };

        layer_Sym {
            bindings = <
 &trans  &trans                            &trans                        &trans                      &trans                                                                                                                                       &trans                          &trans                           &trans                            &trans  &trans
 &none   &none                             &none                         &none                       &none                         &none                                                                          &none                            &none                           &none                            &none                             &none   &none
 &trans  &kp F11                           &kp F12                       &kp F13                     &kp F14                       &kp F15                                                                      &kp F16                          &kp F17                         &kp F18                          &kp F19                           &kp F20  &trans
 &trans  &my_ht &kp LGUI &mcr_exclamation  &my_ht &kp LALT &mcr_at_sign  &my_ht &kp LCTRL &mcr_hash  &my_ht &kp LSHFT &mcr_dollar  &mcr_percent                                                              &mcr_caret  &my_ht &kp RSHFT &mcr_ampersand  &my_ht &kp RCTRL &mcr_asterisk  &my_ht &kp RALT &mcr_left_paren  &my_ht &kp RGUI &mcr_right_paren  &trans
 &trans  &mcr_left_brace                   &mcr_right_brace              &mcr_tilde                  &mcr_colon                    &mcr_pipe     &trans           &trans     &trans  &trans  &trans  &trans       &none                           &trans                          &trans                           &trans                            &trans  &trans
 &trans  &trans            &trans          &trans                        &trans                                                                  &mcr_underscore  &mcr_plus  &trans  &trans  &trans  &trans                                       &trans                          &trans                           &trans                            &trans  &trans
            >;
        };

        layer_Numpad {
            bindings = <
 &trans  &trans           &trans     &trans     &trans                                                                                              &trans    &trans     &trans    &trans  &trans
 &trans  &trans           &trans     &trans     &trans     &trans                                                                        &trans     &trans    &trans     &trans    &trans  &trans
 &trans  &kp KP_MULTIPLY  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS                                                                   &trans     &trans    &trans     &trans    &trans  &trans
 &trans  &kp KP_SLASH     &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_EQUAL                                                                  &trans  &kp RSHFT  &kp RALT  &kp RCTRL  &kp RGUI  &trans
 &trans  &kp KP_DOT       &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT    &kp KP_NUM  &kp KP_ENTER  &trans        &trans  &trans  &trans  &trans     &trans    &trans     &trans    &trans  &trans
 &trans  &trans           &trans     &trans     &trans                   &kp KP_N0   &kp KP_MINUS  &trans        &trans  &trans  &trans             &trans    &trans     &trans    &trans  &trans
            >;
        };
    };
};
